@page "/"
@using static Intranet.Test.WebUI.Server.Components.Snippets.MultiSelectProductCategories

<PageTitle>Intranet</PageTitle>

<div class="my-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <MultiSelectProductCategories @bind-Value="selectedCategories" />

                    <p>Selected Categories:</p>
                    <ul>
                        @foreach (var category in selectedCategories ?? [])
                        {
                            <li>@category.Name</li>
                        }
                    </ul>

                    <Button OnClick="@AddElectronics" Color="Color.Success">Add Electronics</Button>
                    <Button OnClick="@RemoveElectronics" Color="Color.Danger">Remove Electronics</Button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private List<ProductCategory>? selectedCategories = null;

    private void AddElectronics()
    {
        var electronics = new ProductCategory { Id = 1, Name = "Electronics" };
        selectedCategories ??= new List<ProductCategory>();
        if (!selectedCategories.Contains(electronics))
        {
            selectedCategories.Add(electronics);
            StateHasChanged();
        }
    }

    private void RemoveElectronics()
    {
        if (selectedCategories != null)
        {
            var electronics = selectedCategories.FirstOrDefault(cat => cat.Name == "Electronics");
            if (electronics != null)
            {
                selectedCategories.Remove(electronics);
                if (!selectedCategories.Any())
                {
                    selectedCategories = null;
                }
                StateHasChanged();
            }
        }
    }
}